<nav class="vnav" ng-controller="OssmoneyAccountMenuController">
    <ul class="vnav-menu">
        <li ng-repeat="lateralMenuOption in lateralMenuOptions" class="{{ lateralMenuOption.active }}" ng-if="!lateralMenuOption.admin || admin" ng-cloak>
            <a class="vnav-item" ui-sref="{{ lateralMenuOption.navigation }}" ng-click="switchOption(lateralMenuOption, lateralMenuOption.onclick)">{{ lateralMenuOption.option | translate }}</a>
            <ul class="vnav-subnav ng-hide" ng-show="submenus[lateralMenuOption.onclick]" ng-if="lateralMenuOption.options" ng-cloak>
                <li class="voption" ng-class="{active: suboption.active}" ng-click="highlight(lateralMenuOption.options, suboption)" ng-repeat="suboption in lateralMenuOption.options">
                    <a ui-sref="{{ suboption.navigation }}">{{ suboption.option | translate }}</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<div class="text-center download">
    <a href="/account/export">
        <span class="big glyphicon glyphicon-download-alt"></span>
        <p>{{ "accounts.export" | translate}}</p>
    </a>
</div>