<div class="row">
    <div class="col-lg-2">&#160;</div>
    <div class="col-lg-10">
        <div class="panel-heading"><h2>{{ "budget.add.title" | translate }}</h2></div>
        <div class="panel-body">
            <form id="add_budget_form">
                <div class="row">
                    <div class="col-lg-6 form-group required">
                        <label for="budget.category" class="control-label">{{ "budget.add.category" | translate}}</label>
                        <select id="budget.category" class="form-control" ng-model="selectedCategory" ng-options="category.text for category in categories"></select>
                    </div>
                    <div class="col-lg-6 form-group required {{ tagValidation }}">
                        <label for="budget.subcategory" class="control-label">{{ "budget.add.subcategory" | translate}}</label>
                        <select id="budget.subcategory" class="form-control" ng-model="budget.subcategory" ng-options="subcategory.text for subcategory in selectedCategory.subcategories"></select>
                        <span class="glyphicon glyphicon-remove form-control-feedback {{ tagValidation || 'ng-hide' }}" aria-hidden="true"></span>
                        <span class="help-block {{ tagValidation || 'ng-hide' }}" style="">{{ "budget.add.validation.tag" | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 form-group required {{ nameValidation }}">
                        <label for="budget.name" class="control-label">{{ "budget.add.name" | translate}}</label>
                        <input id="budget.name" type="text" ng-model="budget.name" class="form-control" />
                        <span class="glyphicon glyphicon-remove form-control-feedback {{ nameValidation || 'ng-hide' }}" aria-hidden="true"></span>
                        <span class="help-block {{ nameValidation || 'ng-hide' }}" style="">{{ "budget.add.validation.name" | translate }}</span>
                    </div>
                    <div class="col-lg-6 form-group required {{ balanceValidation }}">
                        <label for="budget.amount" class="control-label">{{ "budget.add.amount" | translate}}</label>
                        <div class="input-group">
                            <span class="input-group-addon">{{ currency.currencyCode | translate }}</span>
                            <input id="budget.amount" type="number" ng-model="budget.amount" class="form-control" min="0" maxlength="12" />
                        </div>
                        <span class="glyphicon glyphicon-remove form-control-feedback {{ nameValidation || 'ng-hide' }}" aria-hidden="true"></span>
                        <span class="help-block {{ balanceValidation || 'ng-hide' }}">{{ "budget.add.validation.balance" | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 form-group required {{ fromValidation }}">
                        <label for="budget.from" class="control-label">{{ "budget.add.from" | translate}}</label>
                        <p class="input-group">
                            <input id="budget.from" type="text" class="form-control" datepicker-popup="{{ 'yyyy-MM-dd' }}" ng-model="budget.from" is-open="openedFrom" close-text="{{ 'datepicker.close' | translate }}" readOnly />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <div class="help-block {{ fromValidation || 'ng-hide' }}">{{ "budget.add.validation.from" | translate }}</div>
                        </p>
                    </div>
                    <div class="col-lg-6 form-group required {{ toValidation }}">
                        <label for="budget.to" class="control-label">{{ "budget.add.to" | translate}}</label>
                        <p class="input-group">
                            <input id="budget.to" type="text" class="form-control" datepicker-popup="{{ 'yyyy-MM-dd' }}" ng-model="budget.to" is-open="openedTo" close-text="{{ 'datepicker.close' | translate }}" readOnly />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <div class="help-block {{ toValidation || 'ng-hide' }}">{{ "budget.add.validation.to" | translate }}</div>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-right">
        <a class="btn btn-primary btn-lg" role="button" ng-click="saveBudget()" ng-disabled="loading">{{ "budget.add.save" | translate }}<i class="fa fa-spinner fa-spin ng-hide" ng-show="loading" ng-cloak></i></a>
    </div>
</div>