<div class="panel panel-default" style="background-color: transparent">
    <div class="panel-heading"><h2>{{ "pm.buy.title" | translate }}</h2></div>
    <div class="panel-body">
        <form id="pm_buy">
            <div class="row" style="padding: 3px">
                <div class="col-lg-4 bordered">
	                <div class="form-group">
	                    <label for="pm.buy.metal">{{ "pm.buy.metal" | translate}}</label>
	                    <select id="pm.buy.metal" class="form-control" ng-model="metalType">
	                        <option value="GOLD">{{ "pm.GOLD" | translate}}</option>
	                        <option value="SILVER">{{ "pm.SILVER" | translate}}</option>
	                        <option value="PLATINUM">{{ "pm.PLATINUM" | translate}}</option>
	                        <option value="PALLADIUM">{{ "pm.PALLADIUM" | translate}}</option>
	                    </select>
	                </div>
	                <div class="form-group">
	                    <label for="pm.buy.shape">{{ "pm.buy.shape" | translate}}</label>
	                    <select id="pm.buy.shape" class="form-control" ng-model="metalShape">
	                        <option value="COIN">{{ "pm.COIN" | translate}}</option>
	                        <option value="BAR">{{ "pm.BAR" | translate}}</option>
	                        <option value="NUGGET">{{ "pm.NUGGET" | translate}}</option>
	                        <option value="MEDAL">{{ "pm.MEDAL" | translate}}</option>
	                        <option value="JEWEL">{{ "pm.JEWEL" | translate}}</option>
	                    </select>
	                </div>
	                <div class="form-group">
	                    <label for="pm.buy.mint">{{ "pm.buy.mint" | translate}}</label>
	                    <select id="pm.mint" class="form-control" ng-model="mint">
	                        <option value="UNKNOWN_MINT">{{ "pm.UNKNOWN_MINT" | translate}}</option>
	                        <option value="CHINA_MINT">{{ "pm.CHINA_MINT" | translate}}</option>
	                        <option value="MEXICO">{{ "pm.MEXICO" | translate}}</option>
	                        <option value="PERTH_MINT">{{ "pm.PERTH_MINT" | translate}}</option>
	                        <option value="ROYAL_CANADIAN_MINT">{{ "pm.ROYAL_CANADIAN_MINT" | translate}}</option>
	                        <option value="SOMALIA">{{ "pm.SOMALIA" | translate}}</option>
	                        <option value="SOUTH_AFRICA_MINT">{{ "pm.SOUTH_AFRICA_MINT" | translate}}</option>
	                        <option value="UK_ROYAL_MINT">{{ "pm.UK_ROYAL_MINT" | translate}}</option>
	                        <option value="US_MINT">{{ "pm.US_MINT" | translate}}</option>
	                    </select>
	                </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group required {{ productValidation }}" style="position: relative">
                        <label for="pm.buy.product" class="control-label">{{ "pm.buy.product" | translate}}</label>
                        <select id="pm.buy.product" class="form-control" ng-model="transaction.product" ng-options="(product.name | translate) for product in products"></select>
                        <span class="glyphicon glyphicon-remove form-control-feedback {{ productValidation || 'ng-hide' }}" aria-hidden="true"></span>
                        <span class="help-block {{ productValidation || 'ng-hide' }}" style="">{{ "pm.buy.validation.product" | translate }}</span>
                    </div>
	                <div class="row text-center" ng-hide="!transaction.product || !transaction.product.url">
	                    <img src="{{transaction.product.url}}" style="max-width: 128px;max-height: 128px">
	                </div>
	            </div>
	            <div class="col-lg-4">
	               <div class="form-group">
                        <label for="pm.buy.mintedYear" class="control-label">{{ "pm.buy.mintedYear" | translate}}</label>
                        <input id="pm.buy.mintedYear" type="number" ng-model="transaction.mintedYear" class="form-control" min="1000" maxlength="4" />
                    </div>
	            </div>
            </div>
            <hr />
            <div class="row">
	            <div class="col-lg-4 form-group required {{ quantityValidation }}" style="position: relative">
	                <label for="pm.buy.quantity" class="control-label">{{ "pm.buy.quantity" | translate}}</label>
	                <input id="pm.buy.quantity" type="number" ng-model="transaction.quantity" class="form-control" min="1" step="1" />
	                <span class="glyphicon glyphicon-remove form-control-feedback {{ quantityValidation || 'ng-hide' }}" aria-hidden="true"></span>
	                <span class="help-block {{ quantityValidation || 'ng-hide' }}">{{ "pm.buy.validation.quantity" | translate }}</span>
	            </div>
                <div class="col-lg-4 form-group required {{ amountValidation }}" style="position: relative">
                    <label for="pm.buy.amount" class="control-label">{{ "pm.buy.amount" | translate}}</label>
                    <div class="input-group">
                        <span class="input-group-addon">{{ currency.currencyCode | translate }}</span>
                        <input id="pm.buy.amount" type="number" ng-model="transaction.amount" class="form-control" min="0" maxlength="12" />
                    </div>
                    <span class="glyphicon glyphicon-remove form-control-feedback {{ amountValidation || 'ng-hide' }}" aria-hidden="true"></span>
                    <span class="help-block {{ amountValidation || 'ng-hide' }}">{{ "pm.buy.validation.amount" | translate }}</span>
                </div>
                <div class="col-lg-4 form-group required {{ dateValidation }}" style="position: relative">
                    <label for="pm.buy.operationDate" class="control-label">{{ "pm.buy.operationDate" | translate}}</label>
                    <p class="input-group">
                        <input id="pm.buy.operationDate" type="text" class="form-control" datepicker-popup="{{ 'yyyy-MM-dd' }}" ng-model="transaction.operationDate" is-open="opened" close-text="{{ 'datepicker.close' | translate }}" readOnly />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <div class="help-block {{ dateValidation || 'ng-hide' }}">{{ "pm.buy.operationDate.required" | translate }}</div>
                    </p>
                </div>
            </div>
            <div class="row">
	            <div class="col-lg-4 form-group required {{ weightValidation }}" style="position: relative">
	                <label for="pm.buy.weight" class="control-label">{{ "pm.buy.weight" | translate}}</label>
	                <input id="pm.buy.weight" type="number" ng-model="transaction.weight" class="form-control" min="0" maxlength="8" ng-change="recalculatePurity()" />
	                <span class="glyphicon glyphicon-remove form-control-feedback {{ weightValidation || 'ng-hide' }}" aria-hidden="true"></span>
	                <span class="help-block {{ weightValidation || 'ng-hide' }}" style="">{{ "pm.buy.validation.weight" | translate }}</span>
	            </div>
	            <div class="col-lg-4 form-group required {{ weightMetalValidation }}" style="position: relative">
	                <label for="pm.buy.weightInMetal" class="control-label">{{ "pm.buy.weightInMetal" | translate}}</label>
	                <input id="pm.buy.weightInMetal" type="number" ng-model="transaction.weightInMetal" class="form-control" min="0" maxlength="8" ng-change="recalculatePurity()" />
	                <span class="glyphicon glyphicon-remove form-control-feedback {{ weightMetalValidation || 'ng-hide' }}" aria-hidden="true"></span>
	                <span class="help-block {{ weightMetalValidation || 'ng-hide' }}">{{ "pm.buy.validation.weight" | translate }}</span>
	            </div>
	            <div class="col-lg-4 form-group">
                    <label for="pm.buy.purity" class="control-label">{{ "pm.buy.purity" | translate}}</label>
                    <input id="pm.buy.purity" type="number" ng-model="transaction.purity" class="form-control" min="0" maxlength="6" />
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label for="pm.buy.account" class="control-label">{{ "pm.buy.account" | translate}}</label>
                    <select id="pm.buy.account" class="form-control" ng-model="transaction.account" ng-options="((account.name | translate) + ' [' + (account.currentBalance.number | currency: (account.currentBalance.currencyCode | translate) ) + ']') for account in accounts | filter: {creditCard: false} | filter: {closed: null}"></select>
                </div>
                <div class="col-lg-6 form-group">
                    <span class="glyphicon glyphicon-info-sign" tooltip-placement="right" tooltip-class="tooltip-custom" tooltip="{{ 'deposit.account.tooltip' | translate }}"></span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-right">
        <a class="btn btn-primary btn-lg" role="button" ng-click="savePMTransaction()" ng-disabled="loading || retrieving">{{ "pm.buy.create" | translate }}<i class="fa fa-spinner fa-spin ng-hide" ng-show="loading" ng-cloak></i></a>
    </div>
</div>