<div class="row">
    <div class="col-lg-12 page-header">
        <h1>{{ "pm.prices.title" | translate }}</h1>
    </div>
</div>
<div class="row">
    <table class="table">
        <tbody>
            <tr ng-repeat="price in preciousMetalPrices">
                <td>{{ ("pm." + price.preciousMetalType) | translate }}</td>
                <td>{{ price.date | date }}</td>
                <td class="text-right">{{ price.spot_usd.number | currency: ("USD" | translate) }}</td>
                <td class="text-right">{{ price.spot_eur.number | currency: ("EUR" | translate) }}</td>
                <td class="text-right">{{ price.spot_gbp.number | currency: ("GBP" | translate) }}</td>
            </tr>
        </tbody>
    </table>
</div>