.btn-social.btn-lg {
    padding-left: 44px !important;
}
.btn-social > *:first-child {
	line-height: 48px !important;
}
.btn-social.btn-lg:first-child {
	font-size: 1.5em;
	line-height: 25px;
	width: 100% !important;
}
.btn-social.btn-lg *:first-child {
    font-size: 1.4em;
    line-height: 45px;
    width: 45px;
}