@font-face {
    font-family: 'Elusive-Icons';
    src: url('../fonts/elusiveicons-webfont.eot');
    src: url('../fonts/elusiveicons-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.el {
    display: inline-block;
    font: normal normal normal 14px/1 'Elusive-Icons';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.el-guidedog:before {
    content: "\f17d";
}
.el-puzzle:before {
    content: "\f1ce";
}
.el-glasses:before {
    top: 2px;
    content: "\f175";
    font-size: 1.3em;
    position: relative;
}
.el-broom:before {
  content: "\f11d";
}
.el-film:before {
  content: "\f15d";
}