.menunav {
	display: inline-block;
}
nav{
	display: block;
}
nav, ul.menunav, .menunav > li, .menunav > li a {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
.menunav > li, .menunav:active > .active {
	float: left;
	position: relative;
	margin: 0 0 4px;
	color: #595959;
	text-shadow: 0 1px white;
	background-color: rgba(0, 0, 0, 0.05);
	border: 1px solid;
	border-color: #cfcfcf #d6d6d6 #c8c8c8;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25));
	-webkit-box-shadow: inset 0 1px white, inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 2px #dadada, 0 3px #c4c4c4, 0 4px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px white, inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 2px #dadada, 0 3px #c4c4c4, 0 4px 3px rgba(0, 0, 0, 0.1);
}
.menunav > li:hover {
	text-shadow: 0 1px white, 0 0 20px white;
}
.menunav > li.active, .menunav > .active:active, .menunav > li:active {
	z-index: 2;
	margin: 4px 0 0;
	color: #404040;
	background: transparent;
	border-color: #ccc;
	border-width: 1px 0;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.35), inset 0 -1px 1px rgba(0, 0, 0, 0.05), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.4);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.35), inset 0 -1px 1px rgba(0, 0, 0, 0.05), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.4);
}
.menunav > li:active {
	z-index: 3;
}
.menunav > li:first-child {
	border-left-width: 1px !important;
	border-left-color: #c6c6c6;
	border-radius: 5px 0 0 5px;
}
.menunav > li:last-child {
	border-right-width: 1px !important;
	border-right-color: #c6c6c6;
	border-radius: 0 5px 5px 0;
}
.menunav > li + li, .menunav:active > .active + li, .menunav:active > li + .active {
	border-left-width: 0;
}
.menunav > .active + li, .menunav > .active:active + li, .menunav > li:active + li, .menunav > li:active + .active {
	border-left-width: 1px;
}
.menunav > li > a {
	display: block;
	position: relative;
	line-height: 3em;
	padding: 0 3em;
	font-size: 0.80em;
	font-weight: bold;
	color: inherit;
	text-decoration: none;
	outline: 0;
}
.menunav > li > a:before {
	content: attr(title);
	position: absolute;
	top: 1px;
	left: 1em;
	color: rgba(255, 255, 255, 0.4);
	text-shadow: none;
}
.menunav img {
	vertical-align: middle;
}
.menuicon {
	width: 3em;
}
.menunav > li.menuicon > a {
	padding: 0 1em;
}
ul.menunav {
	list-style-type: none;
}
.brown .menunav > li:hover, .brown .menunav li.active {
	color: #B1815D;
}
.blue .menunav > li:hover, .blue .menunav li.active {
    color: #337ab7;
}