<div class="panel panel-default" style="background-color: transparent">
    <div class="panel-heading"><h2>{{ "entities.add.title" | translate }}</h2></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4 form-group required">
                <label for="account.country">{{ "country" | translate}}</label>
                <select id="account.country" class="form-control" ng-model="entity.country.countryKey" disabled>
                    <option value="{{ 'country.' + locale }}">{{ "country." + locale | translate}}</option>
                </select>
            </div>
            <div class="col-lg-4 form-group required {{ nameValidation }}">
                <label for="entity.name" class="control-label">{{ "entity.name" | translate}}</label>
                <input id="entity.name" type="text" ng-model="entity.name" class="form-control" />
                <span class="glyphicon glyphicon-remove form-control-feedback {{ nameValidation || 'ng-hide' }}" aria-hidden="true" style="right: 10px"></span>
                <span class="help-block {{ nameValidation || 'ng-hide' }}" style="">{{ "entity.validation.name" | translate }}</span>
            </div>
            <div class="col-lg-4 form-group">
                <label for="entity.web" class="control-label">{{ "entity.web" | translate}}</label>
                <input id="entity.web" type="text" ng-model="entity.web" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-right">
                <a class="btn btn-primary btn-lg" role="button" ng-click="saveEntity()" ng-disabled="loading">{{ "entity.create" | translate }}<i class="fa fa-spinner fa-spin ng-hide" ng-show="loading" ng-cloak></i></a>
            </div>
        </div>
    </div>
</div>